* {
  box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;

    background-image: url("https://img.elo7.com.br/product/original/1C102EA/adesivo-papel-de-parede-chevron-floral-escolha-a-cor.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #919D47;

}

.nav-right {
    float: right;
}

.home {
    float: right;
}


.title {
  position: absolute;
  font-size: 33px;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  padding-top: 9px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

li .home:hover {
    background-color: #738637;
}


.box {
  background-color: #919D47;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  height: fit-content;
  border-radius: 15px;
  vertical-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  display: grid;
  justify-content: space-evenly;
  grid-gap: 10px;
}

.title-box {
  background-color: #919D47;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  height: 70px;
  border-radius: 15px;
  vertical-align: center;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 30px;
}

.title-box h1{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  color: ivory;

}

img {
  width: 240px;
  border-radius: 6px;
}


.products {
  text-align: center;
}

.products h1{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: bold;

}

.products p{
  margin-top: 10px;
  font-size: 30px;
}

.pro {
  width: 290px;
  height: 460px;
  border: 6px solid ivory;
  padding: 40px 10px;
  font-family: 'Raleway', sans-serif;
  color: ivory;
  font-weight: bold;
  border-radius: 5%;
  margin-bottom: 20px;
}


.products button {
  margin-top: -10px;
  background: #738637;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: ivory;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
}

.products button:hover {
  background: darkolivegreen;
}


/*----------------------------------------------------------*/

.address-form {
  padding-top: 10px;
  text-align: center;
}

.address-form input{
  height: 40px;
  width: 400px;
  display: block;
  margin: 20px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}

.address-form button{
  margin-top: 10px;
  background: #738637;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: ivory;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
}

.address-form button:hover {
  background: darkolivegreen;
}


/*-----------------------------------------------*/

.delivery-date div {
  margin-bottom: 20px;
  border: 6px solid ivory;
  border-radius: 5%;
  height: 460px;
  width: 470px;
  text-align: center;
  padding: 0 20px;
   grid-column: 1 / span 3;
}

.delivery-date h1{
  font-family: 'Dancing Script', serif;
  font-weight: bold;
  font-size: 40px;
  color: ivory;
}

.delivery-date p{
  font-family: 'Raleway', sans-serif;
  color: ivory;
  font-size: 20px;
}

.delivery-date form{
  font-family: 'Raleway', sans-serif;
  color: ivory;
  font-size: 20px;
  padding-top: 15px;
}


.spontaneous button{
  margin-top: 60px;
  background: #738637;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: ivory;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
}

.delivery-date button:hover {
  background: darkolivegreen;
}

.choose-date form{
  padding-top: 10px;
}

.choose-date input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  height: 40px;
  width: 300px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}

.choose-date button{
  margin-top: 33px;
  background: #738637;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: ivory;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
}

.choose-date button:hover {
  background: darkolivegreen;
}


/*-------------------------------------------------------------*/

.note {
  text-align: center;
}

.note h1{
  font-family: 'Dancing Script', serif;
  font-weight: bold;
  font-size: 40px;
  color: ivory;
  padding-top: 20px;
}

.note input{
  vertical-align:top;
  text-align: left;
  padding-bottom: 50%;
  padding-left: 10px;
  height: 300px;
  width: 500px;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
}

.note button{
  margin-top: 33px;
  background: #738637;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: ivory;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
}

.note button:hover {
  background: darkolivegreen;
}

/*----------------------------------------------------------------------*/

.payment {
  text-align: center;
}

.payment h1{
  font-family: 'Dancing Script', serif;
  font-weight: bold;
  font-size: 40px;
  color: ivory;
  margin-top: -10px;
  margin-bottom: 10px;

}

.payment p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: ivory;
  margin-top: 0px;
  margin-bottom: 0;
}

.payment input {
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 3px;
}

.cc-name {
  width: 355px;
}

.cc-number {
  width: 355px;
}

.cc-exp {
  width: 170px;
}

.cc-csc {
  width: 170px;
}

.cc-street {
  width: 355px;
}

.cc-city {
  width: 160px;
}

.cc-state {
  padding-left: 0;
  width: 57px;
}

.cc-zip {
  width: 110px;
}

.payment button{
  margin-top: 20px;
  background: #738637;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: ivory;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
}

.payment button:hover {
  background: darkolivegreen;
}

/*------------------------------------------------------------------*/

.confirmation {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 50px;
}

.confirmation h1{
  font-family: 'Dancing Script', serif;
  font-weight: bold;
  font-size: 40px;
  color: ivory;
  padding-top: 25px;
  margin-bottom: 10px;
}

.confirmation p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: ivory;
  padding-top: 0px;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .home {
    display: none;
  }
  .title {
    font-size: 30px;
  }
}

@media (max-width: 600px) {

  .address-form input{
    width: auto;
  }
  .delivery-date div {
    margin-bottom: 20px;
    border: 6px solid ivory;
    border-radius: 5%;
    height: fit-content;
    width: fit-content;
    text-align: center;
    padding: 0 20px;
     grid-column: 1 / span 3;

  }
  .delivery-date p{
    font-size: 15px;
  }
  .choose-date input{
    width: fit-content;
  }
  .note input{
    vertical-align:top;
    text-align: left;
    padding-bottom: 50%;
    padding-left: 10px;
    height: auto;
    width: auto;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
  }
  .title-box {
    background-color: #919D47;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    vertical-align: center;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .title-box h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    color: ivory;
  }

  .payment h1 {
    font-size: 30px;
  }

  .payment input {
    font-size: 16px;
  }

  .cc-name {
    width: 250px;
  }

  .cc-number {
    width: 250px;
  }

  .cc-exp {
    width: 140px;
  }

  .cc-csc {
    width: 90px;
  }

  .cc-street {
    width: 250px;
  }

  .cc-city {
    width: 100px;
  }

  .cc-state {
    padding-left: 0;
    width: 40px;
  }

  .cc-zip {
    width: 80px;
  }
}
