* {
  box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #919D47;
}

.nav-right {
    float: right;
}


.title {
  position: absolute;
  /*left: 41%;*/
  font-size: 33px;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  padding-top: 9px;
}

li a {
    /*display: block;*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

li .login:hover {
    background-color: #738637;
}

.background-image {
    background-image: url("https://img.elo7.com.br/product/original/1C102EA/adesivo-papel-de-parede-chevron-floral-escolha-a-cor.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
  background-color: #919D47;
  /*max-width: 550px;*/
  width: fit-content;
  height: auto;
  border-radius: 5%;
  margin: 130px auto;
  position: relative;


  display: flex;
  flex-direction: row;
  padding: 20px;
  /*flex-wrap: wrap;*/
  align-content: space-around;
  text-align: center;
}



/*---------------------------------------------------------------------------*/


.start-box h1{
  color: ivory;
  text-align: center;
  padding-top: 0px;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  border-bottom: 7px solid ivory;
  padding-bottom: 35px;
  /*margin-top: -10px;*/
}

.start-box p{
  padding: 0px 30px;
  color: ivory;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  max-width: 500px;
}

.start-btn {
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  background: #738637;
  /*margin-left: 165px;*/
  /*margin-top: 40px;*/
  width: 220px;
  height: 50px;
  color: ivory;
  font-weight: bold;
  border-radius: 8px;
  margin:35px auto;
    display:block;
}

.start-btn:hover {
  background-color: darkolivegreen;
}

/*--------------------------------------------------------------------------*/

.signup-login {
  display: inline-block;
  text-align: center;
}

.signup-login h1{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: bold;

}

.signup-login .signup {
  float: left;
  /*display: inline-block;*/
  /*margin-left: 20px;
  margin-top: 20px;*/
  width: 250px;
  height: 360px;
  border: 6px solid ivory;
  padding: 40px 10px;
  font-family: 'Raleway', sans-serif;
  color: ivory;
  font-weight: bold;
  border-radius: 5%;
  flex-grow: 1;
  /*flex-basis: 250px;*/
}

.signup-login .login {
  display: inline-block;
  /*position: absolute;
  left: 250px;*/

  width: 250px;
  height: 360px;
  border: 6px solid ivory;
  margin-left: 20px;
  padding: 40px 0px;
  font-family: 'Raleway', sans-serif;
  color: ivory;
  font-weight: bold;
  border-radius: 5%;
  /*flex-grow: 1;*/

}

.signup-login button {
  margin-top: 20px;
  background: #738637;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: ivory;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
}

.signup-login button:hover {
  background: darkolivegreen;
}

/*---------------------------------------------------------*/

.login-form {
  display: block;
  text-align: center;
}

.login-box h1{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: ivory;
  font-size: 50px;
  margin-top: 0;
}

.login-form input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  height: 50px;
  width: 300px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}

.login-form button{
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  height: 50px;
  width: 300px;
  border: none;
  background: #738637;
  border-radius: 5px;
  font-weight: bold;
  color: ivory;
}

.login-form button:hover {
  background: darkolivegreen;

}

/*.login-border {
  margin-left: 20px;
  margin-top: 20px;
  float: left;
  width: 510px;
  height: 360px;
  border: 6px solid ivory;
  border-radius: 4%;
}*/


/*----------------------------------------------*/

.signup-form {
  display: block;
  text-align: center;
}


.signup-box h1{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: ivory;
  font-size: 40px;
  /*padding-top: 0px;*/
  top: -20px;
}

.signup-form input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  height: 30px;
  width: 300px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}

.signup-form button{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  height: 50px;
  width: 300px;
  border: none;
  background: #738637;
  border-radius: 5px;
  font-weight: bold;
  color: ivory;
  margin-top: 20px;
}

.signup-form button:hover{
  background: darkolivegreen;
}



@media (max-width: 600px) {
    .signup-login .login {
      display: none;
    }
    .products {
      display: none;
    }
}

@media (max-width: 400px) {
  .title {
    font-size: 28px;
    padding-top: 12px;
  }
}






/*input:required {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}*/
