* {
  box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
  background-image: url("https://img.elo7.com.br/product/original/1C102EA/adesivo-papel-de-parede-chevron-floral-escolha-a-cor.jpg");

  background-attachment: fixed;
  background-repeat: no-repeat;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #919D47;
}

.home {
    float: right;
}


.title {
  position: absolute;
  font-size: 33px;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  padding-top: 9px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

li .home:hover {
    background-color: #738637;
}

/*.background-image {
    background-image: url("https://img.elo7.com.br/product/original/1C102EA/adesivo-papel-de-parede-chevron-floral-escolha-a-cor.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.box {
  background-color: #919D47;
  width: fit-content;
  height: auto;
  /*border: 2px solid black;*/
  border-radius: 15px;
  vertical-align: center;

  margin: 70px auto;
  position: relative;
  padding: 20px 20px 1px 20px;
  /*display: inline-flex;*/
  flex-direction: row;
  justify-content: space-around;
}



img {
  width: 240px;
  border-radius: 6px;
}


.products {
  /*display: inline-block;*/
  text-align: center;

}

.pro {

  width: 290px;
  height: 460px;

  border: 6px solid ivory;
  padding: 40px 10px;
  font-family: 'Raleway', sans-serif;
  color: ivory;
  font-weight: bold;
  border-radius: 5%;
  margin-bottom: 20px;

}

.products h1{
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;

}

.products p{
  font-size: 20px;
}
/*
.products .dozen {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  width: 290px;
  height: 460px;
  border: 6px solid ivory;
  padding: 40px 10px;
  font-family: 'Raleway', sans-serif;
  color: ivory;
  font-weight: bold;
  border-radius: 5%;
}

.products .two-dozen {
  position: absolute;
  left: 323px;
  margin-left: 20px;
  margin-top: 20px;
  width: 290px;
  height: 460px;
  margin-left: 30px;

  border: 6px solid ivory;
  padding: 40px 10px;
  font-family: 'Raleway', sans-serif;
  color: ivory;
  font-weight: bold;
  border-radius: 5%;

}

.products .mixed-bouquet {
  position: absolute;
  left: 655px;
  margin-left: 20px;
  margin-top: 20px;
  width: 290px;
  height: 460px;
  border: 6px solid ivory;
  margin-left: 30px;
  padding: 40px 10px;
  font-family: 'Raleway', sans-serif;
  color: ivory;
  font-weight: bold;
  border-radius: 5%;

}*/

.products button {
  margin-top: 10px;
  background: #738637;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: ivory;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
}

.products button:hover {
  background: darkolivegreen;
}


@media (max-width: 400px) {
  .title {
    font-size: 28px;
    padding-top: 12px;
  }
}























/*----*/
